@import "tailwindcss";

@theme {
    --color-primary: #10B981;
    --color-primary-dark: #059669;
    --color-primary-light: #d1fae5;
    --color-secondary: #1F2937;
    --color-background: #FFFFFF;
    --color-accent: #F97316;
    --color-accent-light: #fed7aa;
    --color-highlight: #10B981;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-50: #f9fafb;
    --color-gray-900: #111827;
    --color-border: #e5e7eb;
    --font-family: 'Unbounded', sans-serif;
}

html, body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-family: var(--font-family), sans-serif;
}

.bg-main-gradient {
    background: linear-gradient(135deg,
    var(--color-primary) 0%,
    var(--color-accent) 100%
    );
}
